/* ----------------------------- */
/* ----------------------------- */
/* -------    Colors    -------- */
/* ----------------------------- */
/* ----------------------------- */

// Generate tones based on colors
$tone500: 70 !default;

$tones: (
  0: 98,
  100: 95,
  200: 90,
  300: 85,
  400: 80,
  600: 40,
  700: 35,
  800: 30,
  900: 25,
  1000: 10,
) !default;

$palette: (
  hydrogen: (
    h: 229,
    s: 60,
    l: 51,
  ),
  carbon: (
    h: 26,
    s: 96,
    l: 70,
  ),
  oxygen: (
    h: 205,
    s: 77,
    l: 60,
  ),
  nitrogen: (
    h: 348,
    s: 83,
    l: 60,
  ),
  neutral: (
    h: 202,
    s: 10,
    l: 51,
  ),
) !default;

$states: (
  success: (
    h: 160,
    s: 100,
    l: 50,
  ),
  warning: (
    h: 40,
    s: 100,
    l: 50,
  ),
  danger: (
    h: 6,
    s: 100,
    l: 50,
  ),
) !default;

$categories: (
  c1: (
    h: 134,
    s: 23,
    l: 50,
  ),
  c2: (
    h: 3,
    s: 56,
    l: 50,
  ),
  c3: (
    h: 289,
    s: 98,
    l: 50,
  ),
  c4: (
    h: 123,
    s: 43,
    l: 50,
  ),
);
